[Desktop Entry]
Name=Dinastycoin GUI
GenericName=Dinastycoin-GUI
Comment=Dinastycoin GUI
Exec=monero-wallet-gui
Type=Application
Terminal=false
Categories=Network;Qt;Finance;Office;
Icon=org.getmonero.Monero
StartupNotify=true
